.container-fluid {
    font-size: 20px;
    color: #1F2937;
    margin-bottom: 24px;
    margin-left: 30px;
    flex: auto;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 1000px;
    overflow-x: hidden;
}

.left-side {
    background-color: #DDDDDD;
    top: 0;
}

.left-side-container {
    height: 1000px;
    background-color: #DDDDDD;
    top: 0;
}

.right-side {
    background-color: #ffffff;
}

/*responsive*/
@media screen and (max-width: 992px) {
    .left-side,
    .left-side-container {
        display: none;
    }

    .grid-container {
        display: flex; /* Changed from grid to flex */
        flex-direction: column; /* Stack the items vertically */
        height: auto; /* Adjust the height to fit the content */
        justify-content: flex-start; /* Align items to the start of the main axis */
        text-align: left; /* Align text to the left */
        padding-left: 0; /* Remove left padding */
        margin-left: 0; /* Set left margin to 0 */
    }
    
    .header {
        font-size: 20px; /* Smaller font size for mobile */
        margin-left: 0; /* Remove left margin */
    }
}
.bg-black-custom {
    background-color: #000000;
}
.header {
    font-size: 40px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 24px;
    margin-left: 20px;
    flex: auto;
    margin-top: 15px;
}
header img {
    width: 50px;
    height: 50px;
}
.name {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.name input[type="text"] {
    background-color: white;
    margin-top: 30px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left: 30px;
}

.phone1 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.phone1 input[type="text"] {
    background-color: white;
    margin-top: 20px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left: 15px;
}

.email {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.email input[type="text"] {
    background-color: white;
    margin-top: 20px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left: 87px;
}

.address {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.address input[type="text"] {
    background-color: white;
    margin-top: 20px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left:75px;
}

.password {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.avatar {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}


.saving-button {
    background-color: #362ab3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    height: 50px;
    margin-left: 200px;
    margin-top: 70px;
}
.saving-button:hover {
    background-color: #1b39cd;
}

