.grid-container {
    display: grid;
    height: 650px;
}
@media screen and (max-width: 992px) {
    .grid-container {
        display: flex; /* Changed from grid to flex */
        flex-direction: column; /* Stack the items vertically */
        height: auto; /* Adjust the height to fit the content */
    }
}
@media screen and (max-width: 786px) {
    .grid-container {
        display: flex; /* Changed from grid to flex */
        flex-direction: column; /* Stack the items vertically */
        height: auto; /* Adjust the height to fit the content */
    }
}
.header {
    font-size: 40px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 24px;
    margin-left: 20px;
    flex: auto;
    margin-top: 15px;
}
header img {
    width: 50px;
    height: 50px;
}
.oldpassword {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.oldpassword input[type="text"] {
    background-color: white;
    margin-top: 20px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left:70px;
}

.newpassword {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.newpassword input[type="text"] {
    background-color: white;
    margin-top: 20px;
    font-size:18px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 0 0 0.5px #000;
    margin-left:55px;
}

.savingpassword-button {
    background-color: #362ab3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 45%;
    height: 50px;
    margin-left: 100px;
    margin-top: 70px;
}
.savingpassword-button:hover {
    background-color: #1b39cd;
}