.container-fluid {
    font-size: 20px;
    color: #1F2937;
    margin-bottom: 24px;
    margin-left: 30px;
    flex: auto;
    margin-top: 15px;
}
.bg-black-custom {
    background-color: #000000;
}
.header {
    font-size: 35px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 24px;
    margin-left: 30px;
    flex: auto;
    margin-top: 30px;
}
header img {
    width: 50px;
    height: 50px;
}
.continue-button {
    background-color: #1a8cff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    height: 50px;
    margin-left: 120px;
    margin-top: 10px;
}

.continue-button:hover {
    background-color: #0059b3;
}

@media screen and (max-width: 992px) {
    .flex-container,
    .flex-container {
        display: flex; /* Changed from grid to flex */
        flex-direction: column; /* Stack the items vertically */
        height: auto; /* Adjust the height to fit the content */
    }
}