* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('home.gif');
    background-size: relative;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;

}

header{
    position: relative;
    padding: 0 2rem;
}

.navigation-bar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-bar .logo {
    display: flex;
    align-items: center; 

}
.navigation-bar .logo-image{
    width: 80px;
    height: 55px;
    display: flex-start;
    border-radius: 0.5rem;
}
.navigation-bar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.navigation-bar .links{
    display: flex;
    gap: 5rem;
}

.navigation-bar .toggle-button{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login-button{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none; 
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover{
    scale: 1.05;
    color: #fff;
}

.login-button:active{
    scale: 0.95;
}
/*DROPDOWN MENU*/
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;

}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.dropdown_menu .login-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*TITLE*/
section#title{
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
#title h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
/*RESPONSIVE DESIGN*/
@media(max-width: 992px){
    .navigation-bar .links,
    .navigation-bar .login-button{
        display: none;
    }

    .navigation-bar .toggle-button{
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}