@charset "UTF-8";
@media all and (min-width: 320px) {
  .webpage {
    margin: 0 auto;
    width: 95%; }
  .preview {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 10px; }
  .search-container {
    border: 1px solid #343A40;
    /* Border với độ dày là 1px và màu đen */
    border-radius: 10px;
    /* Border-radius là 10px */
    background-color: #343A40;
    /* Background color là yellow */
    padding: 10px 20px;
    /* Padding là 10px từ trên và dưới, 20px từ trái và phải */
    display: flex;
    /* Hiển thị các phần tử trong container theo chiều ngang */
    justify-content: space-between;
    /* Các phần tử trong container được căn cách nhau theo khoảng cách giống nhau */
    align-items: center;
    /* Căn các phần tử theo trục dọc */
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px; }
  .form-select {
    width: 200px;
    border-radius: 5px;
    height: 35px;
    color: gray; }
  .search-button {
    padding: 10px 20px;
    /* Padding của nút button */
    width: 200px;
    height: 35px;
    border: none;
    /* Loại bỏ border của nút button */
    border-radius: 5px;
    /* Border-radius của nút button */
    background-color: #343A40;
    /* Màu nền của nút button */
    display: flex;
    /* Hiển thị các phần tử trong container theo chiều ngang */
    justify-content: center;
    /* Các phần tử trong container được căn cách nhau theo khoảng cách giống nhau */
    align-items: center;
    /* Căn các phần tử theo trục dọc */
    color: white;
    /* Màu chữ của nút button */
    border: 1px solid white;
    cursor: pointer;
    /* Thay đổi con trỏ thành kiểu tay khi di chuột qua nút button */ }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url("https://cdn3.ivivu.com/2023/10/du-lich-sai-gon-ivivu.jpg");
    background-size: cover;
    opacity: 0.5;
    /* Độ mờ của hình ảnh */
    z-index: 1;
    /* Đảm bảo thẻ div này ở phía dưới thẻ carouselExampleIndicators */ } }

@media all and (min-width: 320px) and (max-width: 990px) {
  .btn-container {
    display: none; }
  #avatar-logo, #heart-icon, #bell-icon {
    display: none; } }

@media all and (min-width: 320px) {
  .btn-container {
    display: flex;
    gap: 30px;
    color: white;
    margin-right: 30px;
    align-items: center; }
  .designed-menu {
    margin-top: 10px; }
  .post-btn {
    border: white solid 1px;
    padding: 10px 20px;
    border-radius: 10px; }
  .post-btn a {
    text-decoration: none;
    color: silver; }
  .post-btn a:hover {
    color: #e2e1e1; }
  .account-btn {
    color: silver; }
  .account-btn:hover {
    color: #e2e1e1; }
  .fa-regular {
    font-size: 24px; }
  .fa-solid {
    font-size: 24px; }
  .top-over {
    position: relative;
    z-index: 3; }
  .middle-over {
    position: relative;
    /* Thiết lập vị trí tương đối để quản lý các phần tử con */
    z-index: 2;
    /* Đảm bảo thẻ div này ở phía trên thẻ div chứa nó */ }
  .list-group-char {
    gap: 10px;
    position: relative;
    /* Thiết lập vị trí tương đối để quản lý các phần tử con */
    z-index: 2;
    /* Đảm bảo thẻ div này ở phía trên thẻ div chứa nó */ }
  .image-char {
    width: 25%; }
  .content-frame {
    display: block;
    margin-left: 18px;
    width: 75%; }
  .content-first,
  .content-second,
  .content-third {
    flex-grow: 1; }
  .content-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .content-second {
    display: block;
    margin-bottom: 20px; }
  .content-second div {
    margin-bottom: 10px;
    /* Cách nhau 10px */ }
  .content-third {
    display: flex;
    justify-content: right; }
  .price-border {
    border: 2px solid #ccc;
    /* Border xám */
    padding: 5px;
    /* Khoảng cách bên trong */
    border-radius: 12px;
    color: black;
    /* Màu chữ đen */
    font-weight: bold;
    display: flex;
    width: 170px;
    justify-content: center; }
  #heart-icon {
    font-size: 24px;
    /* Đặt kích thước mong muốn */ }
  .view-border {
    border: 2px solid #ccc;
    /* Border xám */
    border-radius: 10px;
    padding: 5px;
    color: white;
    /* Màu chữ đen */
    background-color: blueviolet;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 0; }
  /* CHATBOX =============== */
  .chatbox {
    position: sticky;
    bottom: 30px;
    right: 30px;
    font-family: Arial, sans-serif;
    z-index: 9999; }
  /* CONTENT IS CLOSE */
  .chatbox-support {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    right: 0;
    width: 350px;
    height: 450px;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  /* CONTENT IS OPEN */
  .chatbox--active {
    transform: translateY(-20px);
    z-index: 10;
    opacity: 1;
    border-radius: 15px;
    border: 2px solid #ff9800; }
  /* BUTTON */
  .chatbox-button {
    text-align: right; }
  .chatbox-button button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s; }
  .chatbox-button button:hover {
    background-color: #e68a00; }
  /* HEADER */
  .chatbox-header {
    position: sticky;
    top: 0;
    background: #ff9800;
    color: white;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold; }
  /* MESSAGES */
  #chatbox-history {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px;
    height: 80%;
    border-bottom: 1px solid #ccc;
    max-height: calc(100% - 70px);
    /*Adjust this value based on the height of the header and footer */ }
  /* FOOTER */
  .chatbox-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #f9f9f9; }
  #chat-form {
    position: sticky;
    bottom: 0;
    display: flex;
    background: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  #user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; }
  #chat-form button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s; }
  #chat-form button:hover {
    background-color: #e68a00; }
  div.user-message {
    text-align: right;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5px; }
  div.bot-message {
    text-align: left;
    padding: 10px;
    background-color: #e0f0e0;
    border-radius: 10px;
    margin-bottom: 5px; } }
