<style>
.top-over {
    position: relative;
    z-index: 3;
}
.btn-container {
    display: flex;
    gap: 30px;
    color: white;
    margin-right: 30px;
    align-items: center;
}
.designed-menu {
    margin-top: 10px;
}
.post-btn {
    border: white solid 1px;
    padding: 10px 20px;
    border-radius: 10px;
}
.post-btn a {
    text-decoration: none;
    color: silver;
}
.post-btn a:hover {
    color: rgb(226, 225, 225);
}

.account-btn {
    color: silver;
}
.account-btn:hover {
    color: rgb(226, 225, 225);
}
.fa-regular {
    font-size: 24px;
}
.fa-solid {
    font-size: 24px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-over">
<<<<<<< HEAD
<img src="/imgs/2.png" alt="logo" style="width: 6%; margin-right: 10px;">
<a class="navbar-brand" href="/">
=======
  <img src="/imgs/2.png" alt="logo" style="width: 6%; margin-right: 10px; border-radius: 5px;">
  <a class="navbar-brand" href="/">
>>>>>>> cc1eacb00e6e9563987cf248ff22e12fde18bda5
    <span style="color: white; margin-right: 5px;">One</span><span style="color: #1f8bff;">House</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/can-ho-mot-phong-ngu">Căn hộ 1PN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/can-ho-hai-phong-ngu">Căn hộ 2PN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/can-ho-duplex">Duplex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/can-ho-studio">Studio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bảng giá dịch vụ</a>
        </li>
    </ul>
    <div class="btn-container">
        <i id="heart-icon" class="fa-regular fa-heart"></i>
        <i id="bell-icon" class="fa-regular fa-bell"></i>
    </div>
    <img src="/imgs/2.png" alt="Anh dai dien" style="border-radius: 50%; width: 5%;">
    <div class="dropdown">
        <a class="nav-link dropdown-toggle account-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nguyễn Cao Cường
        </a>
        <div class="dropdown-menu designed-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Quản lý tin đăng</a>
            <a class="dropdown-item" href="#">Quản lý thông tin</a>
            <a class="dropdown-item" href="#">Thay đổi mật khẩu</a>
            <a class="dropdown-item" href="#">Nạp tiền</a>
            <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
    </div>
    <div class="post-btn nav-item">
        <a href="/post">Đăng bài</a>
    </div>
</div>
</nav>