<style>
  .over {
    position: relative; /* Thiết lập vị trí tương đối để quản lý các phần tử con */
    z-index: 2; /* Đảm bảo thẻ div này ở phía trên thẻ div chứa nó */
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark over">
  <img src="/imgs/2.png" alt="logo" style="width: 6%; margin-right: 10px;">
  <a class="navbar-brand" href="/home">
    <span style="color: white; margin-right: 5px;">One</span><span style="color: #1f8bff;">House</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">Post</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>