<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThueTro88.com - Kênh thuê trọ uy tín hàng đầu Việt Nam</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="container">
        <!--Sidebar-->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="logo2.png" alt="Logo_Home_Credit" class="logo">
                    <h2>One<span class="danger">House</span></h2>
                </div>
                <div class="accounts">
                    <a href="#">
                        <span class="material-symbols-outlined" style="margin-right: 0px">group</span><span>Tài khoản</span>
                    </a>
                </div>
            </div>
            <div class="close" id="close-button">
                <span class="material-symbols-outlined">close</span>
            </div>
            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-outlined">dashboard</span>
                    <h3>Yêu cầu</h3><span class="reports-count">20</span>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-outlined">monitoring</span>
                    <h3>Phân tích</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">list_alt</span>
                    <h3>Danh sách</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">report</span>
                    <h3>Báo cáo</h3><span class="reports-count">2004</span>
                </a>
    
                <a href="#">
                    <span class="material-symbols-outlined">settings</span>
                    <h3>Cài đặt</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Đăng xuất</h3>
                </a>
            </div>
        </aside>
       

        <!--Analytics-->
        <main>
            <h1>Số liệu thống kê</h1>
            <!--Analyses-->
            <div class="analyses">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Tổng doanh thu</h3>
                            <h1>650.250.000</h1>
                            <h1 style="margin-left: 30%">VND</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Lượt truy cập</h3>
                            <h1>21,784</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-32%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Lượt tìm kiếm</h3>
                            <h1>47,091</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Yêu cầu-->
            <div class="requests">
                <div class="title">
                    <h1>Yêu cầu</h1>
                </div>
                <div class="status">
                    <div class="images">
                        <div>
                            <img src="603/main.jpg" alt="Hình nhà trọ">
                        </div>
                    </div>
                    <div class="info">
                        <h3>Mô tả:</h3>
                        <span>Studio Lý Thường Kiệt, P14, Q.10 </span>
                        <h3>Người đăng:</h3>
                        <span class="material-symbols-outlined">person</span><span>user1234</span>
                    </div>
                </div>
                <div class="status1">
                    <div class="images">
                        <div>
                            <img src="603/main.jpg" alt="Hình nhà trọ">
                        </div>
                    </div>
                    <div class="info">
                        <h3>Mô tả:</h3>
                        <span>Studio Lý Thường Kiệt, P14, Q.10 </span>
                        <h3>Người đăng:</h3>
                        <span class="material-symbols-outlined">person</span><span>userabcd</span>
                    </div>
                </div>
                <div class="status2">
                    <div class="images">
                        <div>
                            <img src="603/main.jpg" alt="Hình nhà trọ">
                        </div>
                    </div>
                    <div class="info">
                        <h3>Mô tả:</h3>
                        <span>Studio Lý Thường Kiệt, P14, Q.10 </span>
                        <h3>Người đăng:</h3>
                        <span class="material-symbols-outlined">person</span><span>user6789</span>
                    </div>
                </div>
            </div>
        </main>
    </div>    
</body>
</html>
