*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-background: #f6f6f9;

}

html{
    font-size:14px;
}

body{
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    color: black;
}

a{
    color: black;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;   
}

.danger{
    color:red;  
}

.container{
    display: grid;
    width: 100%;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    width: 100vw;
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

aside .toggle .close{
    display: none;
}

aside .toggle .accounts{
    margin-right: 8%;
}

aside .toggle .accounts a span{
    padding-left: 15px;
    font-size: 1.6rem;
}

aside .toggle .logo{
    display: flex; 
    gap: 0.5rem;
    align-items: center;
}


aside .toggle .logo img{
    width: 100px;
    height: 50px;
}

aside .sidebar{
    display: flex;
    width: 16.5rem;
    flex-direction: column;
    background-color: 0#fff;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 80vh;
    top: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.5s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.5s ease;
}

aside .sidebar a:last-child{
    margin-top: 17rem;
    width: 100%;
}


aside .sidebar a.active{
    width: 100%;
    background-color: var(--color-light);
    margin-left: 0
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 50px;
    background-color: rgb(13, 8, 8);
}

aside .sidebar a.active span{
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .reports-count{
    background-color: rgb(233, 0, 0);
    padding: 2px 6px;
    font-size: 11px;
    color: white;
    border-radius: 5px;
}

main{
    margin-top: 5rem;
    margin-left: 5rem;
}

main .analyses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    height: 10rem;
}

main .analyses > div{
    background-color: 0#ffffff;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    width: 18rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

main .analyses > div:hover{
    box-shadow: none;
}

main .analyses > div .status{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .analyses h3{
    margin-left: 0.6rem; 
    font-size: 1rem;
}

main .analyses .progress{
    position: relative; 
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyses svg{
    width: 7rem;
    height: 7rem;
}

main .analyses svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyses .sales svg circle{
    stroke: rgb(2, 127, 98);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyses .visits svg circle{
    stroke: rgb(216, 9, 85);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyses .searches svg circle{
    stroke: rgb(4, 112, 162);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyses .progress .percentage{
    position: absolute;
    top: 35px;
    left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

