.container-header {
    width: 111%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
.container-header .logo {
    width: 140px;
    height: 70px;
    margin-left: 80px;
}
.container-header-welcome {
    display: flex;
    margin-right: 60px;
    align-items: center;
}
.container-header-welcome span{
    
    margin: 0px 30px 0px 5px;
}
.search-filter {
    margin: 10px 120px 0px 80px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 195, 42);
    border-radius: 10px;
    justify-content: flex-start;
    display: flex;
}
.search-filter-body {
    display: flex;
    margin-left: 3px;
    padding: 10px;
    gap: 10px;
}
.search-filter-items {
    margin-top: 5px;
    width: 175px;;
    height: 20px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    transform: translateX(100px)
}
.search-filter >.search-filter-body > .search-filter-items:first-child{
    margin-top: -3px;
    transform: translateX(20px);
    border-radius: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
}
.search-filter >.search-filter-body > .search-filter-items:last-child{
    transform: translateX(370px);
}
.search-filter-items span{
    margin-left: 5px;
}