@media all and (min-width: 320px) {
    .webpage {
        margin: 0 auto;
        width: 95%;
    }
    .preview {
        margin: 0 auto;
        width: 75%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-image: url('https://cdn3.ivivu.com/2023/10/du-lich-sai-gon-ivivu.jpg');
        background-size: cover;
        opacity: 0.5; /* Độ mờ của hình ảnh */
        z-index: 1; /* Đảm bảo thẻ div này ở phía dưới thẻ carouselExampleIndicators */
    }
    
    .over {
        position: relative; /* Thiết lập vị trí tương đối để quản lý các phần tử con */
        z-index: 2; /* Đảm bảo thẻ div này ở phía trên thẻ div chứa nó */
    }
    
    .list-group-char {
        gap: 10px;
        position: relative; /* Thiết lập vị trí tương đối để quản lý các phần tử con */
        z-index: 2; /* Đảm bảo thẻ div này ở phía trên thẻ div chứa nó */
    }
    
    .image-char {
        width: 25%;
    }
    
    .content-frame {
        display: block;
        margin-left: 18px;
        width: 75%;
    }
    
    .content-first,
    .content-second,
    .content-third {
        flex-grow: 1;
    }
    
    .content-first {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .content-second {
        display: block;
        margin-bottom: 20px;
    }
    
    .content-second div {
        margin-bottom: 10px; /* Cách nhau 10px */
    }
    
    .content-third {
        display: flex;
        justify-content: right;
        
    }
    
    .price-border {
        border: 2px solid #ccc; /* Border xám */
        padding: 5px; /* Khoảng cách bên trong */
        border-radius: 12px;
        color: black; /* Màu chữ đen */
        font-weight: bold;
        display: flex;
        width: 170px;
        justify-content: center;
    }
    
    #icon {
        font-size: 24px; /* Đặt kích thước mong muốn */
        color: black;
    }
    
    .view-border {
        border: 2px solid #ccc; /* Border xám */
        border-radius: 10px;
        padding: 5px;
        color: rgb(255, 255, 255); /* Màu chữ đen */
        background-color: blueviolet;
        display: flex;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 0;
    }    
}