<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneHouse</title>
</head>
<body>
    <div>
        {{#if showHeader}}
            <div>
                {{> header}}
            </div>
        {{/if}}
        {{#if showAdmin}}
            <div>
                {{> adminheader}}
            </div>
        {{/if}}
    </div>
    <div>
        {{{body}}}
    </div>
</body>
</html>