<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Modern Login Page | AsmrProg</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Đăng ký</h1>
                <div class="social-icons">
                    <a href="#" class="icon" style="background-color:  #DB4437;"><i class="fa-brands fa-google-plus-g" style="color: white;"></i></a>
                    <a href="#" class="icon" style="background-color: #0165E1;"><i class="fa-brands fa-facebook-f " style="color: white;"></i></a>
                </div>
                <!-- <span>or use your email for registeration</span> -->
                <input type="text" placeholder="Họ tên">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Đặt mật khẩu">
                <input type= "password-authentication" placeholder="Xác nhận mật khẩu">
                <button>Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Đăng nhập</h1>
                <div class="social-icons">
                    <a href="#" class="icon" style="background-color:  #DB4437;"><i class="fa-brands fa-google-plus-g" style="color: white;"></i></a>
                    <a href="#" class="icon" style="background-color: #0165E1;"><i class="fa-brands fa-facebook-f " style="color: white;"></i></a>
                </div>
                <!-- <span>or use your email password</span> -->
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button>Đăng nhập</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Mừng bạn quay lại với OneHouse</h1>
                    <p>Đăng nhập ngay để trải nghiệm mọi dịch vụ tiện ích của chúng tôi</p>
                    <button class="hidden" id="login">Đăng nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Chào mừng bạn đến với OneHouse</h1>
                    <p>Đăng ký ngay để trải nghiệm mọi dịch vụ tiện ích của chúng tôi</p>
                    <button class="hidden" id="register">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/script/login.js"></script>
</body>

</html>