<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>
    <div class="image-container">
        {{#each imageUrls}}
            <span>IMG start</span>
            <img src="{{this}}" alt="Image">
            <span>IMG end</span>
        {{/each}}
    </div>
</body>
</html>