@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: #c9d6ff;
    background: linear-gradient(to left, #e2e2e2, #c9d6ff);
}



a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}



h1{
    font-weight: 700;
    font-size: 1.8rem;
    font-family: sans-serif;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 1000;
    font-size: 0.8rem;
    font-family: sans-serif;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning)
}

.onehouse{
    color: rgb(4, 112, 162);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}


main{
    margin-top: 8rem;
}

main .request_list
{
    margin-top: 1.3rem;
}

main .request_list h2
{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

main .request_list table
{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .request_list table:hover
{
    box-shadow: none;
}

main .request_list a
{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

main .request_list table tbody td
{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    padding: 7px;
}

main .request_list table tbody tr:last-child td
{
    border: None;
}

.rectangle-background
{
    background-color: var(--color-white);
    padding:10px;
    border: 1px solid;
}

main .request_list table tbody tr td.success
{
    color: var(--color-success);
}

main .request_list table tbody tr td.warning
{
    color: var(--color-warning);
}

main .request_list table tbody tr td.danger
{
    color: var(--color-danger);
}

main .request_list table tbody tr td.premium
{
    color: #f5bf03;
}

main .Avatar table
{
    position: fixed;
    top: 0.2rem;
    right: 0rem;
    background-color:#e2e2e2;
    padding: 10px;
}

main .Avatar table td
{
    padding: 5px;
}

main .Avatar table img
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.button {
    border: 1px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

.Accept_button
{
    background-color: #1B9C85;
}

.Reject_button
{
    background-color:#FF0060;
}